<div class="p-10">

    <h1  > Edit Category </h1>

        <mat-form-field class="example-full-width">
            <mat-label>Category</mat-label>
            <input matInput [(ngModel)]="data.name">
        </mat-form-field>
    

    <div class="w-full">
        <button mat-raised-button class="mr-2 BgPurpleColor"
            (click)="onEditData()">
            Edit
        </button>

        <button mat-stroked-button (click)="onClose()">Close</button>

    </div>

</div>