<div class="p-10">


    <h1> Edit Product </h1>

    <form [formGroup]="productEditForm" >

        <mat-form-field class="example-full-width w-full">
            <mat-label>Product Name</mat-label>
            <input matInput formControlName="name" >
        </mat-form-field>

        <mat-form-field class="example-full-width w-full">
            <mat-label>Price</mat-label>
            <input matInput formControlName="price" >
        </mat-form-field>

        <mat-form-field class="example-full-width w-full">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" >
        </mat-form-field>

    
        <mat-form-field class="example-full-width w-full">
            <mat-label>Sub Category Name</mat-label>
            <mat-select formControlName="subCategoryId">
              <mat-option  *ngFor="let item of allSubcategory" [value]="item.id"> {{item.name}} </mat-option>              
            </mat-select>
        </mat-form-field>

        <div class="flex  my-4 w-full">
          <input type="file" accept="image/*" id="upload22" hidden (change)="onFileSelected($event)" />
          <label for="upload22" class="border-[2px] border-dashed lg:py-8 lg:px-28 text-[#7c4e27] p-2 rounded  border-[#7c4e27] "  >
            <p     
            >
              Upload Product Image
            </p>
            <div class="w-16 flex">
              @if (!previewImg) {
                <img  [src]="'data:' + data['contentType'] + ';base64, ' + data['imageData']" class="preview w-16" />
              }
              @else {
                <img *ngIf="previewImg" [src]="previewImg" class="preview w-16" />
              }
              
            </div>
          </label>
        </div>
    </form>



    
          
    <div class="w-full">
        <button mat-raised-button class="mr-2 BgPurpleColor" 
        (click)="onEditData()" >
            Edit
        </button>

        <button mat-stroked-button   (click)="onClose()" >Close</button>
    </div>

</div>

